.board {
    border: 5px solid #ccc;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;

    .board-row{
        width: 100%;
        display: flex;
        flex: 1;

        > .board-col {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            background: white;
            border: none;
            padding: 0;
            margin: 0;
            outline: none;

            &.checked {
                background: red!important;
            }

            &:focus {
                background: black!important;
                color: white;

                *{
                    display: none;
                }
                &:after{
                    content: "\265E";
                }
            }
        }

        &:nth-child(even) > .board-col:nth-child(even),
        &:nth-child(odd) > .board-col:nth-child(odd) {
            background: #ccc;
        }
    }
}

@media screen and (orientation:portrait) {
    .board {
        width: 100vw;
        height: 100vw;

        .board-row > .board-col:focus {
            font-size: 10vw;
        }
    }
}
@media screen and (orientation:landscape) {
    .board {
        width: 100vh;
        height: 100vh;

        .board-row > .board-col:focus {
            font-size: 10vh;
        }
    }
}